/* Importing the font */
@font-face {
  font-family: 'myFont';
  src: url('Assets/junegull.otf.otf'), url('Assets/junegull.ttf.ttf'), url('Assets/junegull.woff') format('truetype');
}

/* Applying the font to the entire body */
body {
  font-family: myFont, Arial, sans-serif;
  color: #333; /* Dark gray for better readability */
  background-color: #f5f5f5; /* Light gray background */
  margin: 0;
  padding: 0;
}

/* Centering text and giving it some space */
p {
  text-align: center;
  font-size: 20px; /* Reduced font size for better readability */
  margin: 20px 0; /* Added margin top and bottom */
}

/* Styling the header */
header {
  background-color: #2c3e50; /* Dark blue */
  color: #fff; /* White text */
  padding: 20px; /* Increased padding for better spacing */
}

/* Styling the navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Centering the navigation links */
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 20px; /* Reduced padding for better spacing */
  color: #fff; /* White text */
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s; /* Smooth transition on hover */
}

nav ul li a:hover {
  background-color: #34495e; /* Darker blue on hover */
}

/* Centering the image */
img {
  display: block;
  margin: 0 auto; /* Centering horizontally */
  max-width: 100%; /* Ensuring the image doesn't exceed its container */
  height: auto;
  padding: 20px;
}

/* Style for the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 20px; /* Gap between grid items */
}

/* Style for each grid item */
.grid-item {
  text-align: center;
  width: 50%; /* Each grid item takes up half of the screen width */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* Style for the image */
.grid-item img {
  max-width: 100%; /* Ensure images don't exceed their container */
  width: 100%; /* Make the image fill the entire width of its container */
}

/* Style for the title */
.grid-item h2 {
  margin-bottom: 10px; /* Space between title and image */
}

.canvas-container {
  text-align: center; /* Center the content horizontally */
  margin: 0 auto; /* Center the container itself */
}

/* Scale the grid item slightly on hover */
.grid-item:hover {
  transform: scale(1.05);
}